<nav class="flex items-center justify-between flex-wrap p-6 bg__color">
  <div class="flex items-center flex-shrink-0 text-white mr-32">
    <img
      src="../../../assets/social-logo.png"
      alt="social-logo"
      class="w-8 h-auto rounded-xl"
    />
    <span class="text-2xl font-semibold tracking-tight ml-3">social</span>
  </div>
  <div class="flex items-center justify-center">
    <div class="flex-1 mr-10">
      <a
        href="#"
        class="inline-block text-sm px-4 py-2 leading-none border rounded text-white border-white hover:border-transparent hover:text-teal-500 hover:bg-white mt-4 lg:mt-0"
        >DOWNLOAD</a
      >
    </div>
  </div>
</nav>
<section>
  <div class="">
    <div class="grid grid-cols-3">
      <div class="col-span-2">
        <img
          class="h-screen"
          src="../../../assets/Social-connection-scaled.jpg"
          alt="social-banner"
        />
      </div>
      <div class="bg__color">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</section>
